<div class="row">
  <div class="col-5 p-5 ms-4 mt-2">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <td class="table-active bolded">
            <dd><strong>{{s.id}}</strong></dd>
          </td>
          <td class="table-active blueName">
            <dd><a href="#" (click)="onSelected(s)">{{s.name}}</a></dd>
          </td>
          <td class="table-active">
            <dd>{{s.channel}}</dd>
          </td>
          <td class="table-active">
            <dd>{{s.seasons}}</dd>
        </tr>
      </tbody>
    </table>
    <h6>Seasons average: {{getAvgSeasons()}}</h6>
  </div>
  <div class="col-6 p-5">
    <div *ngIf="selected">
      <app-serie-detail [serie]="selectedSerie"></app-serie-detail>
    </div>
  </div>
</div>
